{% extends '::base.html.twig' %}

{% block title %}Страница отписки от рассылки{% endblock %}
{% block description %}Страница отписки от рассылк{% endblock %}

{% block javascripts %}{% endblock %}
{% block body %}
    <div class="row magazine-page">
        <!-- Begin Content -->
        <div class="col-md-9">
            <div class="row" id="about">
                <div class="span12">
                    <h3>Вы удачно отписались от подписки на новости</h3>
                    <p>Спасибо что были нашим подписчиком - {{ email }}</p>
                    {% if app.environment == 'prod' %}
                        <br/>
                        <div style="margin: 15px;">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- Eko un Sub -->
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:580px;height:400px"
                                 data-ad-client="ca-pub-3861532892125732"
                                 data-ad-slot="3189096092"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- End Content -->

        <!-- Right Sidebar -->
        {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
        'post': entity
        })) }}
        <!-- End Right Sidebar -->
    </div>
{% endblock %}