{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Demos</h1>
    <form action="{{ path('_dem_well') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" value="save"/>
    </form>
{% endblock %}
